<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <%- include('partials/head'); %>
    <style>
        header{
            background-color: black;
        }
        .id{
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="id">About ejs</h1>
    </header>
    <nav>
      <%- include('partials/navBar'); %>
    </nav>

    <img src="img/215697.jpg" alt="Image">
   
    <footer>
      <%- include('partials/footer'); %>
  </footer> 
</body>
</html>