<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <%- include('partials/head'); %>
    <style>
        header{
            background-color: black;
        }
        .id{
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="id">Home ejs</h1>
    </header>
    <nav>
      <%- include('partials/navBar'); %>
    </nav>
    
    <center><img src="img/Best-Website-Welcome-Message-Examples.png" alt="Image"></center>

    <footer>
      <%- include('partials/footer'); %>
  </footer> 
</body>
</html>