<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <%- include('partials/head'); %>
    <style>
        header{
            background-color: black;
        }
        .id{
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="id">Index ejs</h1>
    </header>
    <nav>
      <%- include('partials/navBar'); %>
    </nav>
    
    <img src="img/phase-runner-obivsvader-x.jpg" alt="Image">

    <footer>
      <%- include('partials/footer'); %>
  </footer> 
</body>
</html>