<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>

    <%- include('../partials/head'); %>
    
    <style>
        header{
            background-color: black;
        }
        .id{
            text-align: center;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <header>
      <%- include('../partials/header'); %>
        <h1 class="id">About html</h1>
    </header>

    <img src="215697.jpg" alt="Image">

    <footer>
      <%- include('../partials/footer'); %>
  </footer>
</body>
</html>